%aside.sidebar.scroll-wrap
  .scroll
    .logo
      .img
    %ul
      %li.active
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "dashboard"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "envelope-o"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "flag"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "map-marker"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "newspaper-o"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "gear"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "power-off"
%section
  %header.row
    .user
      .user__icon
        = image_tag("#{current_user.avatar_url}", class: "image")
      .user__detail
        .detail__nickname
          = @user.nickname
        .detail__name
          = @user.name
    .flex.flex-xs-auto
  .main.scroll-wrap
    .scroll
      %section
        - if @flag.show_users
          - @users.each do |user|
            = user.nickname
        %h1 User一覧
        = page_entries_info @users
        .row
          .flex.flex-fluid-xs-33
            .frame.z1
              %h1
                Post
              .content
                コメントする
          - @users.each do |user|
            .flex.flex-fluid-xs-33
              .frame.z1
                = user.inspect
          .flex.flex-fluid-xs-33
            .frame.z1
              %ul
                - @repos.each do |repo|
                  %li
                    = repo.name
        = paginate @users

        = react_component "Profile", { url: "/api/profiles", pollInterval: 2000 }, {prerender: true}

        = @hoge.user.inspect
        -if user_signed_in?
          = current_user
          = link_to "Sign out", destroy_user_session_path
        -else
          = link_to "Sign in with Github", user_omniauth_authorize_path(:github)

        %input{id: "comment", type:"text"}

        %input{id: "send", type: "button", value: "send"}

        %ul#chat_area


