%aside.sidebar
  .logo
    .img
  %ul
    %li.active
      = fa_icon "dashboard"
    %li
      = fa_icon "envelope-o"
    %li
      = fa_icon "flag"
    %li
      = fa_icon "map-marker"
    %li
      = fa_icon "newspaper-o"
    %li
      = fa_icon "gear"
%section
  %header.row
    .user
      .user__icon
        = image_tag("#{ @user.avatar_url}", class: "image")
      .user__detail
        .detail__nickname
          = @user.login
        .detail__name
          = @user.name
    .flex.flex-xs-auto
    = link_to destroy_user_session_path, class: "signout" do
      = fa_icon "power-off"
  .main
    .row
      .flex.flex-xs-16
        .frame.z1
          .title
            User情報
          a
      .flex.flex-xs-4
        .frame.z1
          a

  = react_component "Profile", { url: "/api/profiles", pollInterval: 2000 }, {prerender: true}

  = @user.name

  = @hoge.user.inspect
  -if user_signed_in?
    = current_user
    = link_to "Sign out", destroy_user_session_path
  -else
    = link_to "Sign in with Github", user_omniauth_authorize_path(:github)

  %input{id: "comment", type:"text"}

  %input{id: "send", type: "button", value: "send"}

  %ul#chat_area


