%aside.sidebar
  .title
    Wadachi
  %ul
    %li.active
      Dashboard
    %li
      Message
    %li
      Event
    %li
      Map
  .user
    .user__icon
      = image_tag("#{ @user.avatar_url}", class: "image")
    .user__detail
      .detail__nickname
        = @user.login
      .detail__name
        Name:  #{@user.name}
      .detail__email
        Email: #{current_user.email}
%section.main
  = react_component "Profile", { url: "/api/profiles", pollInterval: 2000 }, {prerender: true}

  = @user.name

  = @hoge.user.inspect
  -if user_signed_in?
    = current_user
    = link_to "Sign out", destroy_user_session_path
  -else
    = link_to "Sign in with Github", user_omniauth_authorize_path(:github)

  %input{id: "comment", type:"text"}

  %input{id: "send", type: "button", value: "send"}

  %ul#chat_area


