%aside.sidebar.scroll-wrap
  .scroll
    .user
      = image_tag current_user.avatar_url, class: "avatar"
    %ul
      %li
        = link_to destroy_user_session_path, class: "active signout" do
          = fa_icon "dashboard"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "envelope-o"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "flag"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "map-marker"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "newspaper-o"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "gear"
      %li
        = link_to destroy_user_session_path, class: "signout" do
          = fa_icon "power-off"
%section
  %header.row.z2
    .wadachi
      .logo
        .img
      .name
        Wadachi
    .flex.flex-xs-auto
  .main.scroll-wrap
    .scroll
      = react_component "Achievements", {achievements: current_user.achievements}
      = react_component "Passport", {data: @pass_islands}
      = react_component "Languages", {data: @languages}
      = react_component "Users", {data: @users}
      / %section.row#achievements
      /   .flex-xs-auto
      /   .achievements-wrap.flex-xs-18.flex-md-19.flex-lg-16
      /     .achievements.frame.z1.panel
      /       .title.tab
      /         %i.fa.fa-cubes
      /         Achievements
      /       .row
      /         - current_user.achievements.each do |achieve|
      /           %article.achievement.flex-fluid-xs-33
      /             .content
      /               .badge
      /               .gage{style: "width: #{achieve.percentage}%"}
      /               %h1
      /                 = achieve.name
      /               .description
      /                 = achieve.content
      /   .flex-xs-auto
      %section.row#posts
        .flex-xs-auto
        .flex-xs-18.flex-md-19.flex-lg-16
          %article.post.frame.z1
            = image_tag current_user.avatar_url, class: "avatar"
            .content
              = current_user.name
              = current_user.nickname
              %div
                お腹減ったなあ
        .flex-xs-auto
        / = @user.inspect

        / = react_component "Dashboard", {user: @user.filtered_hash, profile: @user.profile, flag: @flag, notification: @user.notification }, {prerender: true}
        / .row
        /   .flex.flex-fluid-xs-33
        /     .frame.z1.setting
        /       flagのセッティング
        / %h1 User一覧
        / = page_entries_info @users
        / .row
        /   .flex.flex-fluid-xs-33
        /     .frame.z1
        /       %h1
        /         Post
        /       .content
        /         コメントする
        /   - @users.each do |user|
        /     .flex.flex-fluid-xs-33
        /       .frame.z1
        /         = user.inspect
        /   .flex.flex-fluid-xs-33
        /     .frame.z1
        /       %ul
        /         - @repos.each do |repo|
        /           %li
        /             = repo.name
        / = paginate @users

        / -if user_signed_in?
        /   = current_user
        /   = link_to "Sign out", destroy_user_session_path
        / -else
        /   = link_to "Sign in with Github", user_omniauth_authorize_path(:github)

        / %input{id: "comment", type:"text"}

        / %input{id: "send", type: "button", value: "send"}

        / %div
        /   - @user.achievements.each do |achievement|
        /     = achievement.inspect
        /   - @islands.each do |island|
        /     = island.name
        /     = island.power
        /     - island.areas.each do |area|
        /       = area.name
        / %ul#chat_area


